<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Admin Dashboard</h2>
    <ul id="notifications">

    </ul>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

    <script>
        // Connect to the WebSocket server
        const socket = new SockJS('http://127.0.0.1:5000/websocket-endpoint');
        const stompClient = Stomp.over(socket);

        // Connect to the server
        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);

            // Subscribe to the "/user/queue/notifications" destination
            stompClient.subscribe('/user/queue/notifications', function (notification) {
                // Handle incoming notifications
                const notificationData = JSON.parse(notification.body);
                console.log('Received notification:', notificationData);
                // Append the notification message to the <ul> as a new <li>
                const notificationsList = $('#notifications');
                notificationsList.append('<li>' + notificationData.message + '</li>');
            });
        });

        // Handle disconnection
        socket.onclose = function (event) {
            if (event.wasClean) {
                console.log('Closed cleanly, code=' + event.code + ', reason=' + event.reason);
            } else {
                console.error('Connection died');
            }
        };

        // Handle errors
        socket.onerror = function (error) {
            console.error('Error: ' + error.message);
        };
    </script>

</body>
</html>